@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, darkviolet, #000);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}

section span:hover {
    background:darkviolet;
    transition: 0s;
}

section .container {
    position: absolute;
    width: 400px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

section .container .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

section .container .content h2 {
    font-size: 2em;
    color: darkviolet;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 1px 1px 4px #000;
}

section .container .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section .container .content .form .inputBox {
    position: relative;
    width: 100%;
}

section .container .content .form .inputBox input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 24px 8px 5px;
    border-radius: 8px;
    color: azure;
    font-weight: 500;
    font-size: 1em;
}

section .container .content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.container .content .form .inputBox input:focus~i,
.container .content .form .inputBox input:valid~i {
    transform: translateY(-8px);
    font-size: 0.8em;
    color: rgb(222, 218, 218);
}

.container .content .form .inputBox input[type="submit"] {
    padding: 10px;
  background: darkorchid;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
  
  border-radius: 100px;
  box-shadow: rgba(187, 44, 185, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 185, 0.15) 0 1px 2px,rgba(187, 44, 151, 0.15) 0 2px 4px,rgba(187, 44, 180, 0.15) 0 4px 8px,rgba(187, 44, 185, 0.15) 0 8px 16px,rgba(187, 44, 161, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(187, 44, 177, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 163, 0.25) 0 1px 2px,rgba(187, 44, 173, 0.25) 0 2px 4px,rgba(187, 44, 173, 0.25) 0 4px 8px,rgba(187, 44, 182, 0.25) 0 8px 16px,rgba(187, 44, 168, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


@media (max-width: 900px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

@media (max-width: 320px) {
    section .container .content {
        width: 240px;
    }

    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}